.container section {
    article:first-child {
        figure {
            margin-top: 3rem;
            text-align: center;
            img {
                width: 80%;
            }
        }
    }

    article:last-child {
        h1 {
            font-size: 1.3rem;
        }
        
        text-align: center;
    }
}

.container main {
}

.container main form .mv-link-register {
    cursor: pointer;
}

